/* Hex Code Colors:
Dark brown: #8B4C33
Red-brown: #A54B30
Coral: #D27553
Orange: #D99247
Pink: #E3A97C
Cream: #EFE0CF */

/* Font Styles 
.sansita-regular {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sansita-bold {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .sansita-extrabold {
    font-family: "Sansita", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .sansita-black {
    font-family: "Sansita", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .sansita-regular-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .sansita-bold-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .sansita-extrabold-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .sansita-black-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  */

/*
  Apply this to all elements to ensure padding and border are included in the
  width and height.
*/
* {
  box-sizing: border-box;
}

body {
  /* Remove default margin. */
  margin: 0;
}

img {
  /* Ensure images don't overflow their containers. */
  max-width: 100%;
}

.full-height-container {
  /* Fill the entire height of the viewport */
  height: 100vh;
  /*
    Set up a grid, with the Nav Bar at the top, and the Jumbotron filling the
    remaining space.
  */
  display: grid;
  grid-template-rows: auto minmax(0px, 1fr);
  grid-template-columns: 100%;
}

/* Nav Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* This should not have an explicit height. */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 200px;
  margin: 0;
  /*
    This should not have an explicit height. Update the photo file itself to
    remove unwanted white space.
  */
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links .nav-item {
  display: flex;
  align-items: center;
}

.nav-links .nav-link {
  text-decoration: none;
  font-family: "Sansita", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links .nav-link:hover {
  background-color: #ddd;
}

.user-signup {
  display: flex;
  align-items: center;
}

.user-signup a {
  text-decoration: none;
  font-family: "Sansita", sans-serif;
  font-weight: 900;
  font-style: normal;
  padding: 10px 20px;
  background-color: #a54b30;
  color: black;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 25px;
}

.nav-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Jumbotron */
.jumbotron {
  /*
    Here's a trick to avoid absolute positioning: Set up a 1 x 1 grid. Then
    place the children on top of each other.
  */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  height: 100%;
}

.slideshow-container {
  /*
    As part of the trick, the slideshow container should span the entire grid.
  */
  width: 100%;
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.img-fade {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade 1.5s;
}

.img-fade img {
  /*
    Fill the entire space, and use `object-fit` to ensure the image doesn't
    stretch.
  */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#slideshow-text {
  /* As part of the trick, the slideshow text should span the entire grid. */
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  /* The slideshow text centers itself in the grid cell. */
  place-self: center;
  /* The text should be on top of the image. */
  z-index: 1;

  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Media Queries */
@media (max-width: 800px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-toggle {
    display: block;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
